.rotas{
    display: flex;
    flex-flow: row wrap;
}
.rotas ul{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 0.5em;
    border: 2px solid var(--cor2);
    padding: 0 0 1em 0;
    margin: 0;
}
.rotas ul h3{
    width: 100%;
    font-size: 0.8rem;
    background-color: var(--cor2);
    color: var(--cor1);
    height: 5em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.rotas ul li{
    width: 100%;
    color: var(--cor2);
    padding: 0 1em;
    font-weight: 600;
}
.rotas p{
    background-color: var(--cor2);
    color: var(--cor1);
    width: 100%;
    padding: 1em 2em;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 724px){
    .rotas{
        border-radius: 20px;
    }
    .rotas:hover{
        box-shadow: 0px 0px 10px var(--cor3);
    }
    .embarque{
        border-radius: 20px 0 0 0;
    }
    .embarque h3{
        border-radius: 20px 0 0 0;
    }
    .destino{
        border-radius: 0 20px 0 0;
    }
    .destino h3{
        border-radius: 0 20px 0 0;
    }
    .rotas p{
        border-radius: 0 0 20px 20px;
    }
}